<%= render 'shared/header' %>
<div class="container" style="padding:48px 0px">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="center bold">Takk for deres søknad til</h4>
      <h2 class="center bold">Let the job find you.</h2>
    </div>
  </div>
</div>
