<%= render 'shared/header' %>
<page id="about_index">
  <div class="container" style="margin-top:30px;">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="center bold uppercase">Annonsering</h2>
        <h5 class="center bold uppercase text-muted" style="margin-bottom:48px;">Våre annonsering pakker</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="pricing-table pricing-table-basic">
              <div class="pricing-table-header">
                <h4 class="bold no-margin">Basic - 9 900 NOK</h4>
              </div>
              <div class="pricing-table-content">
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Jobbmail: Markedsføre dine tjenester direkte til jobbsøkere</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Annonse Logo: Publisert av annonsen og blir synlig i søkelisten</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Annonse Beskrivelse: Full annonsetekst</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Informasjon: Om dere som arbeidsgiver</p>
                <p class="line-through"><i class="fa fa-times-circle-o" aria-hidden="true"></i> ToppJobb: Mer markedsføring for din tjeneste i søkelisten</p>
                <p class="line-through"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Ny kundegaranti</p>
                <p class="no-margin"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Reklametid: 30 dagar</p>
              </div>
              <div class="pricing-table-footer">
                <%= link_to "Kontakt oss!", contact_index_path, class:"btn btn-default btn-call-to-action", style:"background:#FFC107;color:#fff;border-color:#FFA000;border-radius:0px;"  %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pricing-table pricing-table-exclusive">
              <div class="pricing-table-header">
                <h4 class="bold">Exclusive - 14 900 NOK</h4>
              </div>
              <div class="pricing-table-content">
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Jobbmail: Markedsføre dine tjenester direkte til jobbsøkere</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Annonse Logo: Publisert av annonsen og blir synlig i søkelisten</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Annonse Beskrivelse: Full annonsetekst</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Informasjon: Om dere som arbeidsgiver</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> ToppJobb: Mer markedsføring for din tjeneste i søkelisten</p>
                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Ny kundegaranti</p>
                <p class="no-margin"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Reklametid: 30 dagar</p>
              </div>
              <div class="pricing-table-footer">
                <%= link_to "Kontakt oss!", contact_index_path, class:"btn btn-default btn-call-to-action", style:"background:#FFC107;color:#fff;border-color:#FFA000;border-radius:0px;" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="center bold text-muted">For att mer fremme dine tjenester, har vi tilgang til banner og bedriftsprofiler.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</page>
