<div class="footer" style="padding:48px 0px">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="center bold">Copyright © Rekneskapsjobb.no 2017. Alle rettigheter forbeholdt. Rekneskapsjobb.no er en del av Northern Solution's nettverk.</p>
      </div>
    </div>
  </div>
</div>
